/*Colors

#65647C
#8B7E74
#C7BCA1
#F1D3B3
*/

body{
    background-color: #F1D3B3;
}

*{
    margin: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-color: #65647C;
    
}

header img{
    height: 6%;
    width: 50%;
}


nav{
    background-color: #65647C;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: inline;
}

nav li{
    float: left;
    text-align: center;
}


nav li a{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 35px;
}

.iconoCarrito{
    margin-left: auto;
}

.iconoCarrito li{
    float: right;
}




.iconoCarrito a:hover{
    background-color: #65647C;
}

nav a:hover{
    background-color: #C7BCA1;
}




