div.listaProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.listaProductos > div.producto{
    background-color: #8B7E74;
    margin: 20px;
    padding: 15px;
    font-size: 1.5em;
}

div.producto{
    width: 220px;

}

div.producto input{
    width: 100%;
    text-align: center;
    padding: 2.5% ;
    border-radius: 12px;
    font-size: larger;
    margin-top: 10%;
}

div.producto img{
    height: 220px;
    width: 220px;
    margin: 2.3px 0px;
    align-items: center;    
}

/*Para que no se salga del div*/
div.datosProducto{
    word-wrap: break-word; 
}



/*Hacer efecto grande el producto*/
div.producto:hover{
    transform: scale(1.2);
}

div.producto input:hover{
    cursor: pointer;
    background-color: #65647C;;
}









